{% extends 'base.html' %}

{% block body %}





<!-- New Sidebar Navigation
============================ -->
<div class="new-sidebar">
  <ul class="nav flex-column">
    
    {% for land in objects %}
        <li class="nav-item"><a class="nav-link" href="/">{{land.name_saler}}</a></li>
    {% endfor %}
    <!-- Add more links as needed -->
  </ul>
</div>
  



 <!-- Docs Content
    ============================ -->
    <div class="idocs-content">
      <div class="container"> 
        
        
        <!-- Getting Started
    ============================ -->
        <section id="idocs_start">


            <!--Breadcrumb
    ============================ -->
          <ol class="breadcrumb my-4">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Topics </li>
      
        </ol>


        <h1>Welcome ENG. Mohamed Abdelmoenm</h1>
        <!-- <h2>Your ThemeForest Item Name Here</h2>
        <p class="lead">Thank you so much for purchasing our item from themeforest.</p> -->
		<hr>
		<div class="row">
			<div class="col-sm-6 col-lg-4">
				<ul class="list-unstyled">
					<li><strong>Version:</strong> 1.0</li>
					<li><strong>Author:</strong> <a href="http://www.harnshdesign.net" target="_blank">Mohamed Abdelmoenm</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-4">
				<ul class="list-unstyled">
					<li><strong class="font-weight-700">Created:</strong> 18 August, 2023</li>
					<li><strong>Update:</strong> 12 May, 2020</li>
				</ul>
			</div>
		</div>
        <p class="alert alert-info">If you have any questions that are beyond the scope of this help file, Please feel free to WhatsApp via <a target="_blank" href="https://wa.me/+201026120743">My WhatsApp</a>.</p>
        </section>
        

        <h4>About For Me</h2>

					<p>Hello Everybody An Opportunity for Testing My Skills! 
              A Django project that reflects and enhances my proficiency. <br>
              The project's aim? Simply put, building a "Documents" platform to record my learning journey.  <br>
              This project will assist me in staying on track with what I'm learning and documenting every concept. But that's not all, 
              this resource will be available for anyone interested in learning the same topic in the future.  

              The website will primarily focus on <strong>Python and Django </strong> , making it particularly valuable for enthusiasts and learners of these two languages..</h3>
				


      </div>
    </div>
	
  </div>
  <!-- Content end --> 
  
  {% endblock body%}